@import './assets/styles/normalize.scss';
@import './assets/styles/common.scss';
@import './assets/styles/icon.scss';
@import './assets/styles/element-variables-rewrite.scss';

html,
body,
#app,
#root {
  min-height: 100vh;
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
}
