// Color
$--color-primary: #409eff !default;
$--color-danger: #f56c6c !default;
$--color-text-primary: #303133 !default;
$--color-text-regular: #606266 !default;

// Size
$--font-size-medium: 16px !default;
